<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
<display-name>PopupButton</display-name>
    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>
    <servlet>
        <servlet-name>Stock Application</servlet-name>
        <servlet-class>com.vaadin.vaadininmuija.StockServlet</servlet-class>
        <init-param>
            <param-name>ui</param-name>
            <param-value>com.vaadin.vaadininmuija.StockUI</param-value>
        </init-param>
        <init-param>
            <description>Application widgetset</description>
            <param-name>widgetset</param-name>
            <param-value>com.vaadin.vaadininmuija.AppWidgetSet</param-value>
        </init-param>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>Stock Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>